*{
    padding: 2px;
    margin: 2px;
}

.buscador{
    display: flex;
    justify-content: center;
}

.cuenta-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

section.productos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section.categorias {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.links {
    display: flex;
    justify-content:flex-start ;
}
.social-media {
    display: flex;
    justify-content:flex-end ;
}

.titulo{
    display: flex;
    justify-content: center;
}
